.advantages {
  width: 320px;
  min-height: 471px;

  background-color: #81b3d2;
}

.advantages__header {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

.advantages__item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.advantages__description {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
