.advantages__wrapper {
  text-align: center;
}

.advantages-list {

}

.advantages__header {
  margin: 0;
  padding-top: 83px;
}

.advantages__item {
  margin: 0;
  padding-top: 8px;
}

.advantages__description {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 40px;
}

.advantages-list__header {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages-list__item {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages-list__description {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}
