.contact-form {
  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.contact-form__label {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.contact-form__text::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.contact-form__item {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.contact-form__wrapper {
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
  }
}
