.copyright__text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.copyright__link {
  background-image: url(../img/htmlacademy.svg);
  background-repeat: no-repeat;
}