.form__section {
  border: none;
}

.form__header {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.form__button {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
  border: none;
}
