.main-header {
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 389px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.main-header--bg {
  background-image: url(../img/back-mobile2.jpg);
  padding-top: 95px;
}

.main-header__header {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  padding-top: 36px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  text-align: center;
}

.main-header__description {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding-top: 27px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.main-header__image {

  &--triangle {
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}
