.photo-list__description {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}

.photo-list__author {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.photo-list__volume {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}