.site-list {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.site-list__item {

}

.site-list__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;

  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 123px;
  padding-right: 123px;

  background-color: #81b3d2;
}
