.site-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.site-list__item {
  @media (min-width: 768px) {
    width: 20%;
  }
  @media (min-width: 1200px) {
    width: 20%;
  }

  &:nth-child(2) {
      @media (min-width: 768px) {
      margin-right: 20%;
    }
  }
}

.site-list__link {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 6px;
  background-color: #81b3d2;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    font-size: 14px;
  }
}
