.validation-item__header {
	color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.validation-item__description {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.validation-item_button {  
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
  border: none;
}